
/*banner black friday*/
.bloco-post {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.post1 {
  width: 45%;
}

.post1 img {
  width: 100%;
}

.post2 {
  width: 45%;
  text-align: center;
  font-size: 3vw;
}

/*destaque produtos*/
.card-container {
  margin-top: 64px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  margin: 10px 10px;
  display: flex;
  padding: 0 10px;
  width: 200px;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  background-color: var(--brand-color__primary-0);
  border-radius: 16px;
  box-shadow: 0 1px 1px 1px rgb(64, 64, 64, 0.5);
}

.card-img-top {
  width: 100%;
  border-radius: 16px;
}

.card-img-top img {
  width: 150px;
}

.description {
  text-align: center;
  margin: 5px 2px;
  font-size: 10px;
}

.price h2 {
  color: var(--brand-color__primary-2);
}

.price-p {
  text-decoration: line-through;
}

.legend {
  font: var(--font-legend);
}

/*popup container*/
.popup {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.popup .content-popup {
  visibility: hidden;
  width: 200px;
  background-color: var(--neutral-color__neutral-3);
  color: var(--neutral-color__neutral-0);
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

.popup .content-popup::after {
  content: "";
  position: absolute;
}

.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*newsletter*/
.news {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--neutral-color__neutral-3);
  width: 70%;
  height: auto;
  padding: 32px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(61, 159, 255, 0.2);
}

#form {
  padding: 20px 20px 0;
  text-align: center;
}

.input {
  padding: 20px 25px;
  height: 20px;
  border-radius: 5px;
  border: 1px solid #cad3db;
  width: 32vw;
  min-width: 160px;
  font: var(--font-button);
  color: #0f121f;
}

.input:focus {
  outline: 1px solid var(--brand-color__primary-0);
}

.button-home {
  background: var(--brand-color__primary-0);
  padding: 10px;
  border: none;
  width: 16vw;
  min-width: 110px;
  height: 50px;
  border-radius: 5px;
  font: var(--font-button);
  color: var(--neutral-color__neutral-3);
}

.button-home:hover {
  border: solid 1px #292929;
}

@media (max-width: 700px) {

  .bloco-post {
    display: block;
    margin-top: 168px;
    align-items: center;
  }

  .post1,
  .post2 {
    margin-top: 10px;
    width: 80%;
    margin-left: 10%;
  }

  .price {
    display: none;
  }

  .card {
    flex-basis: 100%;
  }

  .input {
    width: 100%;
    margin-bottom: 10px;
  }
}

