:root {
  --brand-color__primary-0: #639187;
  --brand-color__primary-1: #5d877f;
  --brand-color__primary-2: #11463d;
  --neutral-color__neutral-0: #262626;
  --neutral-color__neutral-1: #292929;
  --neutral-color__neutral-2: #868789;
  --neutral-color__neutral-3: #f5f5f5;
  --font-title-1: normal 20px Segoe UI;
  --font-paragrafo: normal 17px/24px Segoe UI;
  --font-subtitle-1: 600 17px Segoe UI;
  --font-subtitle-2: 200 17px Segoe UI;
  --font-button: 600 17px Segoe UI;
  --font-legend: normal 17px Segoe UI;
  --font-destac: 600 2vw Segoe UI;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
