* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #639187;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*páginas de gestão*/
.cadastros-adm {
  align-items: center;
  justify-content: space-around;
  text-align: center;
}
.buttons-adm {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
  align-items: center;
}
.button-cli,
.button-prod {
  position: static;
  width: 400px;
  height: 60px;
  min-width: 104px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: none;
  border-radius: 6px;
  background-color: #14141480;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.button-cli:hover,
.button-prod:hover {
  border-color: #3b685e;
  background-color: #3b685e;
  color: #fff;
}
/*páginas de cadastro*/
.cadastros {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
}
.container1 {
  background: #639187;
  padding: 20px 5px;
  margin-top: 20px;
  border-radius: 5px;
  max-width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  align-content: flex-end;
}
.container1 h2 {
  padding: 20px 10px;
  text-align: center;
  width: 100%;
}
fieldset {
  border: none;
  display: flex;
  padding-top: 10px;
  width: 100%;
  margin-top: 20px;
  padding: 0px 10px;
  justify-content: center;
}
.container-cad input {
  margin: 10px;
  height: 40px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 18px;
  display: flex;
}
.container-cad label {
  user-select: none;
  pointer-events: none;
  display: block;
  width: 100%;
  min-height: 22px;
  margin-bottom: 5px;
  padding-left: 5px;
  color: #404040;
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
  text-align: left;
  display: flex;
}
.inp-50 {
  width: 400px;
}
.inp-30 {
  width: 260px;
}
.inp-100 {
  width: 800px;
}
@media screen and (max-width: 991px) {
  fieldset {
    height: auto;
    flex-direction: column;
  }
}
.buttons {
  display: flex;
  width: 100%;
  margin-top: 20px;
  justify-content: center;
}
.button-cad,
.button-limp {
  position: static;
  min-width: 104px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  border-style: solid;
  border-width: 1px;
  border-color: none;
  border-radius: 6px;
  background-color: #404040;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.button-limp {
  border-color: #404040;
  background-color: #fff;
  color: #404040;
}
.button-cad:hover,
.button-limp:hover {
  border-color: #3b685e;
  background-color: #3b685e;
  color: #fff;
}
.tabela {
  color: #fff;
  background-color: #14141480;
  font-weight: 500;
  width: 100%;
  border-radius: 5px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#topo {
  color: #14141480;
}

.testeStorage {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
