:root {
  --brand-color__primary-0: #639187;
  --brand-color__primary-1: #536b66;
  --neutral-color__neutral-0: #262626;
  --neutral-color__neutral-1: #292929;
  --neutral-color__neutral-2: #868789;
  --neutral-color__neutral-6: #f5f5f5;
  --neutral-color__neutral-7: #ffffff;
  --font-title-1: normal 20px Segoe UI;
  --font-paragrafo: normal 17px/24px Segoe UI;
  --font-subtitle-1: 600 17px Segoe UI;
  --font-subtitle-2: 200 17px Segoe UI;
  --font-button: 600 17px Segoe UI;
  --font-legend: normal 17px Segoe UI;
  --font-destac: 600 2vw Segoe UI;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  list-style: none;
  text-decoration: none;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--brand-color__primary-0);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

nav {
  background-color: var(--neutral-color__neutral-2);
  height: 100px;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin-right: 40px;
}

nav ul li {
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: var(--neutral-color__neutral-6);
  font: var(--font-title-1);
  padding: 7px 13px;
}

nav ul li a.active,
nav ul li a:hover {
  background-color: var(--brand-color__primary-1);
  transition: 0.5s;
}

.logo {
  margin-left: 40px;
}

.checkbtn {
  font: var(--font-title-1);
  color: var(--neutral-color__neutral-6);
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}
@media (max-width: 952px) {
  label.logo {
    font-size: 30px;
  }
}

@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  nav {
    flex-direction: row-reverse;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: inline;
    background-color: var(--neutral-color__neutral-1);
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font: var(--font-title-1);
  }
  a:hover,
  a.active {
    background: none;
    color: var(--brand-color__primary-0);
  }
  #check:checked ~ ul {
    left: 0;
  }
}

.slider {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
}

#slider {
  width: 100%;
  max-width: 1500px;
  height: 100vh;
  max-height: 600px;
  position: relative;
  margin-top: 104px;
}

#slider img {
  opacity: 0;
  position: absolute;
  width: 100vw;
  object-fit: cover;
  transition: opacity 800ms;
}

#slider img.selected {
  opacity: 1;
}

/*banner texto*/
.bloco-post {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: space-around;
  align-items: center;
  margin-top: 64px;
}

.post1 {
  width: 45%;
}

.post1 img {
  width: 100%;
}

.post2 {
  width: 45%;
  text-align: center;
  font-size: 3vw;
}

/*destaque produtos*/
.flex-div {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
}

.card {
  margin: 10px 10px;
  display: flex;
  border: 1px solid var(--brand-color__primary-0);
  width: 200px;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  background-color: var(--neutral-color__neutral-6);
}

.card-container {
  margin-top: 64px;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card-img-top {
  width: 100%;
}

img {
  width: 150px;
}

.description {
  text-align: center;
  margin: 5px 2px;
  font-size: 10px;
}

.price {
  color: #66375c;
}

@media (max-width: 700px) {
  .card {
    flex-basis: 100%;
  }
  .card img,
  .destriction,
  .slider {
    display: none;
  }
  .bloco-post {
    margin: 0;
  }
  .post1,
  .post2 {
    flex-direction: row;
    margin-top: 164px;
  }
  input {
    width: 100%;
  }
}

.card-container2 {
  display: flex;
}

.container {
  margin: 10px 10px;
  display: flex;
  width: 200px;
  flex-direction: column;
  align-items: center;
  flex-basis: 20%;
  font-family: "Roboto", sans-serif;
}

.news {
  margin-top: 64px;
  display: flex;
  justify-content: center;
}

.content {
  width: 60%;
  text-align: center;
  background-color: rgb(255, 22, 22, 0.4);
}

form p {
  font-size: 2vw;
}

/*newsletters*/
.input {
  margin: 10px;
  height: 40px;
  border: solid 1px #ccc;
  border-radius: 4px;
  font-size: 18px;
  width: 40%;
}
.button-home {
  min-width: 104px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px 0px;
  border-color: none;
  border-radius: 6px;
  background-color: #404040;
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
}
.button-home:hover {
  border-color: #3b685e;
  background-color: #3b685e;
  color: #fff;
}
footer {
  border-top: 1px solid #cccccc;
  margin-top: 64px;
  margin-bottom: 0;
  left: 0;
  height: 40px;
  position: absolute;
  width: 100%;
  text-align: center;
}
/*página administrador*/
#navadm {
  z-index: 0;
  position: relative;
}
#titulo {
  text-align: center;
  margin-top: 100px;
}
#footeradm {
  position: fixed;
  bottom: 0;
}
